<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcVi33eQ7SAcqz9CwWaY2U2eCYp9f7wNk</string>
	<key>GCM_SENDER_ID</key>
	<string>626451864709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.walmonfortt.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-3fa23</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-3fa23.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626451864709:ios:ea413ebb409b6b11315dec</string>
</dict>
</plist>